
.dicee{
  margin: auto;
  text-align: center;
  background-color: #eff3c6;

}
h1{
  font-family: "Montserrat",sans-serif;
  font-weight: 800;
  padding: 50px;
}
h2{
  font-family: "Montserrat",sans-serif;
  font-weight:800;
  padding: 20px;
}

.button{
  padding:30px;
  margin: 50px;
  font-size: 30px;
  text-align: center;  
}
